body {
  background-color: rgb(6, 6, 6);
  color: white;
}
header {
  height: 100px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
header img {
  height: 50%;
  padding-top: 10px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}
.button {
  max-width: fit-content;
}

.wrapper {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.container {
  padding-bottom: 30px;
}
.user {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.user-image {
  height: 75%;
  border-radius: 50%;
  object-fit: cover;
}
.product {
  height: 200px;
  width: 400px;
}
.product img {
  height: 75%;
}

.product-price-size-brand {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.signup-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(54, 53, 53, 0.275);
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 50%;
  width: 50%;
  color: black;
}
